/* navigation component */
/* @import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap"); */
@font-face {
    font-family: 'Gilroy-Bold';
	src:  url('./assets/font/Gilroy-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
	src:  url('./assets/font/Gilroy-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./assets/font/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    /*   */
    --primary:#03A6E5;
    --danger: #bf242a;
    --secondary: #ca9744;
    --black:#000;
    --white:#fff;
    --lightblue:#3B3B3B;
    --lightbackground:#eff6ff;
}
body{
    font-family: Gilroy-Medium;
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
/* FONT SECTION */
#footer .copy-right, #footer .foot-menu ul li a, #footer p, #footer {
    font-size: 18px;
    font-family: Gilroy-Medium;
    color: var(--black);
    margin: 0;
}
/* #footer hr {
    background-color: #03A6E5;
} */
/* FONT SECTION */
.navbar-toggler{
    border:none;
    outline:none;
}
.navbar-toggler:active, .navbar-toggler:hover{
    border:none;
    outline:none;
}
#app_nav_bar{
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--white)!important;
}
#app_nav_bar ul li {
    /* padding-top:25px;
    padding-bottom:25px; */
    margin-left: 1em;
}
#app_nav_bar ul li:hover {
    border-bottom: 2px solid var(--danger);
}
#app_nav_bar ul li a {
    color: var(--black)!important;

    font-size: 15px;
    font-family: Gilroy-Bold;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 40px;
}
#app_nav_bar ul li a:hover {
    color:var(--black)!important;
}
/* .collapse.show{
    background-color: var(--white);
    padding: 1em 0;
} */
#main_container{
   width: 100%;
   /* background-color: var(--primary); */
}
.card__container__wraper{
    width: 100%;
    margin-top: 0px;
    background-color: var(--lightbackground);
    padding:10em 10%;
}
.card_inside{
    background-color: var(--white);
    box-shadow: 0px 0px 8px rgb(0 0 0 / 30%);
    padding:15px;
    border-top:4px solid var(--danger);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card_inside h2 {
    font-size: 21px;
    font-family: Gilroy-Bold;
    color: #303030;
    margin: 0;
    padding-top:10px;
    word-break: break-word;
    height: 50px;
}
.card_inside .description p,.card_inside p {
    font-size: 18px;
    font-family: Gilroy-Medium;
    color: #6b6b6b;
    margin: 0;
    line-height: 20px;
}
.book-now{
    background-color: var(--danger);
    border:1px solid #bf242a;
    outline:none;
    color:#fff;
    padding: 10px 20px;
    font-family: Gilroy-Bold;
    font-weight: 500;
    text-decoration: none;
}
.book-now:hover{
    color:#fff;
    text-decoration: none;
}

/* 

.main__card__wrapper{
    display: flex;
    width:100%;
    justify-content: space-between;
}
.main__card{
    width:30%;
    height: 300px;
    background-color: var(--white);
    border:10px;
    box-shadow: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
}
.card__button .button {
    width:200px;
    background-color:transparent;
    outline:none;
    border:none;
    padding-top:.6em;
    padding-bottom: .6em;
    color:var(--primary);
    font-weight: bold;
} */
/* button hover animation */
.showOrHide{
    background-color: transparent;
    outline:none;
    border:none;
    color:#bf242a;
}
.showOrHide:hover{
    background-color: transparent;
    outline:none;
    border:none;
    color:#bf242a;
    text-decoration: underline;
}
 .cancel, .details{
     width:100%;
     margin-top:10px;
     font-size: .9em;
 }
 .details{
     background-color: var(--primary);
     outline:none;
     border:none;
     color:#fff;
 }
 .details:focus, .details:hover{
    outline:none;
    border:none;
    color:#fff;
}
 .cancel {
     background-color: #bf242a;
     outline: none;
     border:none;
     color:#fff;
 }
 .cancel:focus, .cancel:hover{
    outline: none;
    border:none;
    background-color: #bf242a;
    color:#fff;
   
 }
 .btn:focus {
    outline: none;
    box-shadow: none;
  }
 td.button_wrapper{
     text-align: center;
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     justify-content: center;
 }
.search {
    border:none;
    outline:none;
    background-color: var(--danger);
    padding:.5em 3em;
    color:#fff;
}
.search:hover {
    color:#fff;
}
.draw-border {
    box-shadow:inset  0 0 0 4px var(--primary);
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: var(--secondary);
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: var(--danger);
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}
/* MODAL FORM */
.submit{
    background-color: var(--danger)!important;
    padding: .5em 1em;
    outline:none;
    border:none;
}
.submit:active, .submit:hover{
    border:transparent;
    outline:none
}
.modal-header{
    background-color:var(--primary);
    color:#fff;
}
.modal-header button {
    outline:none;
    border:none;
    background-color: transparent;
    font-size: 1.2em !important;
    color:#fff;
}
.modal-button:hover {
    outline:none;
    border:none;
    color:#fff!important;
}
/* REQUEST SERVICE  */
#service_request_wrapper, #user_requests{
    font-family: Gilroy-Regular;
    width:100%;
    background-color: var(--primary);
    padding: 4em 10%;
}
.request_service, .user_requests_inner_container{
    background-color: var(--white);
}
label{
    color:#000;
}
/* FOOTER SECTION */
#footer{
    background-color: var(--lightblue);
    padding-top:2em;
    padding-bottom: 2em;
    padding-right: 10%;
    padding-left: 10%;
    color: var(--white);
    line-height: 2em;
    /* opacity: 0.95; */
}
#footer p{
    color: var(--white);
    font-size:18px
}
#footer ul {
    list-style-type: none;
    padding-left: 0;

}
#footer .footer-link{
    color:var(--white);
    font-size: 18px;
}

#footer h4{
    color: var(--white);
    font-weight: 500;

}
#footer h3{
    color:var(--white);
    font-weight: 600;
    font-size: 1.4em ;
    margin-bottom: 0;
}
#footer img {
    padding: 10px 0;
}
#footer small {
    color: var(--white);
    opacity:0.6;
    margin-top:0;
    padding-top:0;
}
/* login section */
.sidebar_content{
    position: absolute;
    bottom:200px;
    color:#fff;
    font-family: Gilroy-Bold ;
    left:10%;
}
.sidebar_content h1 {
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 10%;
    line-height: 29.7px;
}
.sidebar_content h2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}
.sidebar_content p {
    font-size: 20px;
}
.sidebar_content input{
    border:1px solid #fff;
    outline:none;
    background-color: #fff; 
    width:60% ;
    padding:15px 15px 15px 21px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.opacity{
    opacity: 0.8;
}
.sidebar_content button {
    background-color: var(--danger);
    cursor: pointer;
    padding: 15px 40px;
    outline: none;
    color:#fff;
    border:1px solid #bf242a;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
    /* FOOTER SECTION */
    /* HIDDING BOOTSTRAP BLUE SHADOW*/
    textarea:focus, 
    textarea.form-control:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    select:focus,  
    select.form-control:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    }
@media screen and (max-width:767px) {
    .card__container__wraper{
        padding:4em 5%;
    }
    .border_top{
        border-top:1px solid black !important;
    }
    .sidebar_content {
        left:5%;
    }
    #app_nav_bar ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    #app_nav_bar,
    #service_request_wrapper,
    #user_requests {
        padding-left: 5%;
        padding-right: 5%;
    }
    #app_nav_bar ul li:hover {
        border-bottom: none;
    }
    #app_nav_bar ul li {
        padding-top:10px;
        padding-bottom:10px;
        margin-left: none;
    }
    .main__card__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__card {
        width: 50%;
        margin-bottom: 2em;
    }
    #app_nav_bar {
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media screen and (max-width:600px) {
    .main__card {
        width: 70%;
    }   
}
@media screen and (max-width:440px) {
    .sidebar_content input{
        padding:10px 10px 10px 10px;
    }
    .sidebar_content button {
        padding:10px 20px;
    }
    #app_nav_bar {
        padding-left: 2%;
        padding-right: 2%;
    }
    .main__card {
        width: 90%;
    }   
}